<!DOCTYPE html>
<html>
  <head>
    <title>AppTClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="/">Twitter</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/posts"> Posts <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

  <div class="container" style = "padding-top: 5rem">

  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>"> <%= msg %></div>
  <% end %>

  <%= yield %>
  </div>


<footer class="bg-dark text-center text-white">
  <div class="text-center p-3" style="background-color: #0D78F9;">
    © Août 2021 Copyright:
    <a class="text-white" href="http://bit.ly/EmiG">Emile GBENONCHI</a>
  </div>
</footer>

  </body>
</html>
